volumes:
  hatsuportal_data:

services:
  db:
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_DB: hatsuportal
      POSTGRES_USER: development
      POSTGRES_PASSWORD: development123
    volumes:
      - hatsuportal_data:/var/lib/postgresql/data
      - ./dev-db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'development', '-d', 'hatsuportal']
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
        restart: true
    volumes:
      - .:/app
      - /app/node_modules # Ignore the node_modules in the host
      - /app/backend/node_modules # Ignore backend node_modules in the host
      - /app/frontend/node_modules # Ignore frontend node_modules in the host
    ports:
      - '3000:3000' # Frontend
      - '80:80' # Backend
    entrypoint: /app/entrypoint.sh
    environment:
      DATABASE_HOST: db
      DATABASE_USER: development
      DATABASE_PASSWORD: development123
      DATABASE_SCHEMA: hatsuportal
